<div class="container ">
       
    <div class="row ">
        

        <div class="col-lg-6 col-md-12 col-sm-12 mt-5  ">
            <!-- <div><h3 class="text-center">{{aim}}</h3></div>  -->   <!-- method 2 -->
            <div class="mt-5">
                
                <h2 class="mt-5 text-center " style="color: orangered;letter-spacing: 5px;" >User Login</h2>
                <input [(ngModel)]="acno" class="form-control mt-5 bg-light p-2" style="border-radius: 20px;" type="text" name="acno" id="acid" placeholder="Account Number"><!--[placeholder]="data"  -->
                <input [(ngModel)]="psw" class="form-control mt-3 bg-light p-2" style="border-radius: 20px;" type="text" name="psw" id="psw" placeholder="Password">
                
                <div class="mt-3 d-flex justify-content-end" ><a href="" style="text-decoration: none; color: black;" >Forgot Password?</a></div>
            </div>
            <div class="text-center">
                <button (click)="login()" class="btn border form-control mt-3 p-2 "  style="background-color: orangered; border-radius: 20px; color: white;line-height: 34px;font-weight: 700;
                letter-spacing: 5px;" type="submit">Login</button>
            </div>
            <div class="text-center mt-4">
                <p>New user? <a href="">Register Now</a></p>
            </div>

        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
            <img  class="mt-5 img" style="width: 550px;" src="../../assets/login-img.png" alt="">

        </div>

    </div>
</div>


